@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
body {
    font-family: 'Roboto', sans-serif!important;
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.mainscreen
{
	min-height: 100vh;
	width: 100%;
	display: flex;
    flex-direction: column;
    background-color: #DFDBE5;
    background-image: url("bg4.jpg");
    color:#6e2e2a;
}

.card {
	width: 960px;
    margin: auto;
    background: white;
    position:center;
    align-self: center;
    top: 800px;
    border-radius: 24px;
    box-shadow: 4px 3px 20px #3535358c;
    display:flex;
    flex-direction: row;
    
}

.leftside {
	background: #000000;
	width: 400px;
	display: inline-flex;
    align-items: center;
    justify-content: center;
	border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.product {
   /* object-fit: cover;*/
	width: 400px;
    height: 650px;
 /*   border-radius: 100%;*/
}

.rightside {
    background-color: #ffffff;
	width: 560px;
	border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    padding: 16px 32px 48px 48px;
}

p{
    display:block;
    font-size: 17.6px;
    font-weight: 400;
    margin: .8rem 0;
}

.inputbox
{
    color:#030303;
	width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #615a5a;
    font-size: 1.1rem;
    font-weight: 500;
    outline:none;
}

.expcvv {
    display:flex;
    justify-content: space-between;
    padding-top: 0.6rem;
}

.expcvv_text{
    padding-right: 1rem;
}
.expcvv_text2{
    padding:0 1rem;
}

.button{
    background: linear-gradient(
135deg
, #35190d 0%, #955650 100%);
    padding: 15px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 10px;
    width:100%;
    letter-spacing: .11rem;
    outline:none;
}

.button:hover
{
	transform: scale(1.05) translateY(-3px);
    box-shadow: 3px 3px 6px #38373785;
}
