@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

header{
  height: 90px;
  background: #000000;
}

.inner-width{
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}

.logo{
  float: left;
  padding: 20px 0;
  color: #fff;
}

.navigation-menu{
  float: right;
  display: flex;
  align-items: center;
  min-height: 90px;
}

.navigation-menu a{
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 15px;
  padding: 8px 20px;
  border-radius: 6px;
  transition: .3s linear;
}

.navigation-menu a:hover{
  background: #5f201b;
  color: #fff;
  transform: scale(1.1);
}

.navigation-menu i{
  margin-right: 8px;
  font-size: 16px;
}

.home{
  color: #fff;
}

a.aj_btn {
  background: #000000;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
}

a.aj_btn:hover{
  background: #fff;
  color: #5f201b;
  font-weight: 500;
  letter-spacing: 2px;
}




/*------------------------------------------------------- Body part ---------------------------------------------------------*/
.container {
  position: relative;
  text-align: center;
  color: white;
}


.centered {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);


  .h1 {
    font-size: 20px;
    margin-top: 10px;
  }

  .p2 {
    margin-top: 50px;
    font-weight: bold;
    font-size: 50px;
  }
  .p3 {
    font-size: medium;
    padding: 20px;
    text-align: center;
  }

}
  

/*********************************************** About us *******************************************************************/


.about-us {
  display: flex;
  background: url(bg4.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 720px;
  overflow: hidden;
}

.food__subtitle {
  font-size: 18px;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;

  color: #190909;
  opacity: 0.8;

  letter-spacing: -0.01em;
}

.food__title {
  font-size: 64px;
  font-weight: 600;
  font-family: var(--playfair-display);

  color: #000000;

  margin-top: 16px;
}

.food__description {
  font-size: 18px;
  font-weight: 400;


  line-height: 36px;
  letter-spacing: -0.01em;

  color: #3c1a1a;
  opacity: 0.8;

  margin: 32px 0px;
}

.about-us__image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: var(--color-white);

  position: relative;
}

.about-us__image div {
  padding: 32px 64px;

  flex: 1;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-us__image-img1 {
  border-bottom: 8px solid var(--color-creamson);
 
  background-image: url("shape-5.png")
}

.about-us__image-img2 {
  background-image: url("shape-8.png")
}

.about-us__button {
  position: absolute;
  right: 0;

  padding: 12px 32px;
  min-height: 64px;

  background: #fff;
  border-radius: 32px 0 0 32px;
  border: 0;
  outline: 0;

  color: #190909;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}

.about-us__button img {
  object-fit: contain;
  margin-left: 32px;
}

.about-us__content {
  padding: 64px;
  background-color: #ffffff86;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/******************************************************************************************************/

.subscription {
  padding: 64px;
  background-color: #000000;
  background-image: url('shape-9.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  overflow: hidden;
}

.subscription h2 {
  font-size: 88px;
  font-weight: 600;
  line-height: 123px;
  color: #866060;
  text-align: center;
}

.subscription p {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  line-height: 36px;
  margin-top: 32px;
  color: rgba(255, 255, 255, 0.8);
}

.subscription__form {
  min-width: 480px;
  margin-top: 40px;
  padding: 14px 14px 14px 24px;
  display: flex;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 46px;
}

.subscription__form input {
  flex: 1;
  font-size:  16px;
  font-weight: 400px;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
  opacity: 0.5;
  background: transparent;
  border: none;
  outline: none;
}

.subscription__form input::placeholder {
  color: #fff;
  opacity: 0.5;
}

.subscription__form button {
  padding: 20px;
  min-width: 180px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  background-color: #866060;
  color: #3a1d12;
  text-align: center;
  border-radius: 46px;
  border: none;
  outline: none;
  cursor: pointer;
}

/****************************************footer ************************************************************************************/

.footer {
  width: 100%;
  padding: 30px 0 0 20px;

}

.footer_main{
  display: grid;
  background-color: #000;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer_main .footer-1{
  text-align: center;
  
}

.footer_main .footer-1 h2{
  color: #9b7373;
  margin-bottom: 25px;
  font-size: 30px;
}

.footer_main .footer-1 p{
  margin: 10px 0;
  color:#ffffff;
}

.footer_main .footer_tag i{
  margin: 0 5px;
  cursor: pointer;
  background-color:black;
  justify-content: space-between;
}

.footer_main .footer_tag i:hover{
  color:#fac031;
}